
a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    background: #38c4ca;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.navbar-brand , .navbar-item{
    color: #fff!important;
    font-size: x-large!important;
    font-family: Helvetica!important;
}
.navbar-brand:hover, .navbar-item:hover {
    color: #000000!important;
}
.fa-user-circle{color: #fff; }
.fa-user-circle:hover{color: #000000}
.fa-bell{color: #000000}
.fa-bell:hover{color: #fff}
.form-inline{
    padding-right: 220px;
}
.search-box{
    background-color:#ffffff;
    width: 550px!important;
    padding-left: 10px;

}
.search-box:focus{
    background-color: #f0f0f0;
}
.btn-outline-light{height: 36px;}
.btn-outline-light:hover{
    color: black!important;
    background-color: #f5f5f5!important;
    opacity: 0.45;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebarCollapse{
    font-size: large;
}
#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #38c4ca;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #38c4ca;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #38c4ca;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #38c4ca;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #34aeb4;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #2b9fa5;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}





/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /*padding: 20px;*/
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}
.breadcrumb-item:hover{
    color: #38c4ca;}
.card-title{width: 350px; margin: 0!important;}
.fa-pencil-alt{font-size: medium; transform: translateX(160px)}
* {margin: 0; padding: 0;}

#wrap {width: 960px; margin: 80px auto;}
#wrap section {margin-top: 30px;}
#wrap .wrap__title {margin-bottom: 15px; color: #444;}
#wrap .wrap__title .small {font-size: 11px; color: #666; margin-left: 20px;}
#wrap .wrap__table {border-collapse: collapse; table-layout: fixed; width: 100%;}
#wrap .wrap__table th {color: #222; border: 1px solid #ccc; padding: 10px; text-align: left;}
#wrap .wrap__table th:nth-child(1) {width: 80px;}
#wrap .wrap__table th:nth-child(2) {width: 80px;}
#wrap .wrap__table th:nth-child(3) {width: 150px;}
#wrap .wrap__table td {border: 1px solid #ccc; padding: 10px;}
#easySelectable {display: flex; flex-wrap: wrap;}
#easySelectable li {border-radius:40px; margin: 0 10px 10px 0; background: #fff; transition: background 0.2s; width: 100px;
    height: auto; color: #222; font-size: 14px;  text-align: center; display: flex; justify-content: center;
    align-items: center; cursor: pointer; box-shadow: 0px 3px 3px #ccc;}
#easySelectable li.es-selected {background: #38c4ca; color: #fff;}
#notSelectable {display: flex; flex-wrap: wrap;}
#notSelectable li {border-radius:40px; margin: 0 10px 10px 0; background: #fff; transition: background 0.2s; width: 100px;
    height: auto; color: #222; font-size: 14px;  text-align: center; display: flex; justify-content: center;
    align-items: center; cursor: pointer; box-shadow: 0px 3px 3px #ccc;}


.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}



.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
.img-circle{border-radius: 30px}
.pull-left{float: left}
.pull-right{float: right}
.btn-done{color: #fff!important; background-color: #5f9be1!important; font-family: Helvetica!important;  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);}
.btn-done:hover{
    background-color: #5f9be1!important;
    opacity: 0.75;

}
.btn-close{color: #fff!important; font-family: Helvetica!important; background-color: #dc223d !important;  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);}
.btn-close:hover{
    background-color: #dc223d!important;
    opacity: 0.75;

}
.btn-chat{background-color: #178fdd!important;}


@media (max-width: 1199.98px) {
    .search-box{
        width: 420px!important;
        padding-left: 10px;
    }
    .form-inline{
        padding-right: 120px;
    }
}
@media (max-width: 991.98px) {
    .form-inline{
    padding-right: 50px;
    }
    .search-box{
        width: 330px!important;
        padding-left: 5px;

    }
}
@media (max-width: 767.98px) {
    .form-inline{
        padding-right: 15px;
    }
    .search-box{
        width: 210px!important;
        padding-left: 5px;

    }
.navbar-item{font-size: large!important;}
.card{width: 400px!important;}
.fa-pencil-alt{transform: translateX(70px)}
}
@media (max-width: 575.98px) {
    .card {
        width: 250px !important;
    }

    .card-title {
        width: 200px;
        font-size: 15px !important;
    }

    .fa-pencil-alt {
        transform: translateX(30px)
    }

    #notSelectable li {
        width: 95px
    }

    .navbar-brand {
        font-size: 30px !important; padding-right:30px; width:230px;
    }

    .navbar-item {
        font-size: medium !important;
    }
    .search-box{
        width: 180px!important;
        padding-left: 5px;
    }
}
@media (max-width: 320px) {
 .navbar-brand {
        font-size: 25px !important; padding-left:10px; width:200px;
    }
.search-box{
        width: 140px!important;
        padding-left: 5px;
    }
.card-wrap{padding-left: 30px!important;}
}
